button {
  margin: 10px;
  padding: 20px;
  height: 80px;
  width: 80px;
}
.ans,
.exp {
  width: auto;
  height: 35px;
  background: grey;
  padding: 5px;
}

.ops {
  float: right;
  display: flex;
  flex-direction: column;
}

.neg {
  float: right;
  display: flex;
  flex-direction: column;
}

.calc {
  margin: auto;
  width: 400px;
  box-shadow: 2px 2px 20px;
  border-radius: 20px;
  padding: 20px;
}

.clear {
  width: 300px;
  margin: 0;
  font-size: 0;
}

.deci {
  font-size: 0;
  width: 300px;
}

.zero {
  width: 180px;
}

.numspace {
  width: 400px;
  margin: 0;
}

.eq {
  height: 180px;
}

button {
}
button:hover {
  border: 1px solid black;
}

button:focus {
  border: 1px solid black;
}
